{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true
            }
        ],
        [
            "transform-imports",
            {
                "@mui/icons-material": {
                    "transform": "@mui/icons-material/${member}",
                    "preventFullImport": true
                }
            }
        ]
    ]
}
