:root {
  --primary-color: #000000;
  --grey-color: #808080;
  --background-color: #ffffff;
  --text-primary-color: #000000;
  --text-secondary-color: #808080;
  --background-hover-color: #EEEEEE;
}

/* body {
  background-size: 0lvw;

} */