:root {
  --primary-color: #000000;
  --grey-color: #808080;
  --background-color: #ffffff;
  --text-primary-color: #000000;
  --text-secondary-color: #808080;
  --background-hover-color: #EEEEEE;
  --orange-color: #FF9900;
  --success-color: #52c41a;
  --table-header-color: #cecece;
  --link-hover-color: #0D92F4;
  --logo-color: #fe2840;
}

.ant-tooltip-inner {
  background-color: var(--background-color) !important;
  color: var(--primary-color) !important;
}

.ant-tooltip-arrow {
  border-top-color: white !important;
}

